@font-face {
    font-family: 'fixedsys';
    src: url('/static/fonts/fsex300-webfont.eot');
    src: url('/static/fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/fsex300-webfont.woff') format('woff'),
    url('/static/fonts/fsex300-webfont.ttf') format('truetype'),
    url('/static/fonts/fsex300-webfont.svg#fixedsys') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-smooth: never;
}

h1 {
	font-family: "fixedsys";
	font-size: 40px;
	color: black;
	margin-top: 0;
}
div#chat p {
	font-family: "fixedsys";
	font-size: 15px;
	color: white;
	padding: 0;
	margin-left: 1000;
}

body { 
  background: url(/static/shutters.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}