<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
		<script src="{{ static_url('chat.js') }}"></script>
		<title>this is how mafia works</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url('mafiastylsheet.css') }}">
	</head>
	<body>
		<div>
			<h1>mafiagame</h1>
		</div>
		<div id="chat" style="background: rgb(0,0,15);">
			<input type="text" id="chatinput">
			<button onclick="send_message();">send</button>
			<div id="chat_lines"></div>
		</div>
	</body>
	<script type="text/javascript">
		open_chat_socket('Nimi');
	</script>
</html>