<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <title>Paras sivusto ikinä!</title>
  <link rel="stylesheet" type="text/css" href="{{ static_url('controlledstylsheetthatisnice.css') }}">

  <script type="text/javascript">
  	function get_gnomed() {
  		window.location = '/static/redirecter.html'
  	}
    var w = window.innerWidth;
    var h = window.innerHeight;
  </script>
</head>
<body>
  <div> 
    <h1>Tosi Hieno sivusto. foo</h1>
    <navigationButton onclick="get_gnomed();">very nice button</button>
    <navigationButton onclick="alert("see? nothing")">does nothing</button>
  </div>
  <div>
    <img src="/static/pupu.jpg" alt="a bunny on some grass" width="w" height="h">
  </div>
</body>
</html>